{% for obj in object %}
<ul><br><br>
    <li>
        Title: {{obj.title}}
    </li>
    <li>
        Description: {{obj.desc}}
    </li>
    <li>
        Price: {{ obj.price }}$
    </li>
    <a href="{% url 'product' obj.slug %}"><img src="{{obj.image_url}}"></a>
    <li>
        Quantity: {{obj.quantity}}
    </li>
    <li>
        Category: {{obj.category}}
    </li>
    <li>
        Size: {{obj.size}}
    </li>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ obj.pk }}">
        <button type="submit" name="like">Like</button>
      </form>
      <p>{{obj.favorites.count}}</p>
</ul>
{% endfor %}